<%- include('partials/header'); %>

<h1>Acerca de</h1>

<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, accusamus praesentium omnis cupiditate corrupti
    provident explicabo! Sed provident porro aperiam eos consequuntur impedit a aliquam quis corrupti iure. Eligendi
    accusamus dicta voluptatum voluptas blanditiis harum dolorum magnam, qui quasi iste nisi. Dolore nisi, obcaecati
    assumenda eum, asperiores labore aut enim nemo est eius recusandae reprehenderit vitae, iure tempore ut! Cum nulla
    ut voluptatum blanditiis itaque magnam facilis eligendi impedit qui voluptas voluptatem rerum voluptatibus officia
    dignissimos laudantium ex mollitia voluptates hic optio nesciunt, harum ipsam? Suscipit, quibusdam a quia, quas
    obcaecati repellat maiores praesentium totam nam dolorum rerum ullam culpa.
</p>

<%- include('partials/footer'); %>